{% capture footer_contents %}
  {{ site.footer_text }}
  {{ site.copyright }}
  {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">{{ 'Impressum' | t }}</a>.
  {% endif %}
  {% if site.last_updated %}
    {{ 'Last updated:' | t }} {{ 'now' | date: '%B %d, %Y' }}.
  {% endif %}
{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      {{ footer_contents }}
      {% include kofi-widget.html %}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    <div class="container">
      {{ footer_contents }}
      {% include kofi-widget.html %}
    </div>
  </footer>
{% endif %}
