<div class="news">
  {% if page.latest_posts != blank %}
    {% assign latest_posts_size = site.posts | size %}
    <div
      class="table-responsive"
      {% if page.latest_posts.scrollable and latest_posts_size > 3 %}
        style="max-height: 60vw"
      {% endif %}
    >
      <table class="table table-sm table-borderless">
        {% assign latest_posts = site.posts %}
        {% if page.latest_posts.limit %}
          {% assign latest_posts_limit = page.latest_posts.limit %}
        {% else %}
          {% assign latest_posts_limit = latest_posts_size %}
        {% endif %}
        {% for item in latest_posts limit: latest_posts_limit %}
          {% assign translated_item = nil %}
          {% if site.detected_locale == 'es' %}
            {% assign translated_item_path = '_posts/es/' | append: item.name %}
            {% assign translated_item = site.posts | where: 'path', translated_item_path | first %}
          {% endif %}
          <tr>
            <th scope="row" style="width: 20%">{{ item.date | date: '%b %d, %Y' }}</th>
            <td>
              {% if item.redirect == blank %}
                {% if translated_item %}
                  <a class="news-title" href="{{ translated_item.url | relative_url }}">{{ translated_item.title }}</a>
                {% else %}
                  <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title | t }}</a>
                {% endif %}
              {% elsif item.redirect contains '://' %}
                {% if translated_item %}
                  <a class="news-title" href="{{ item.redirect }}" target="_blank">{{ translated_item.title }}</a>
                {% else %}
                  <a class="news-title" href="{{ item.redirect }}" target="_blank">{{ item.title | t }}</a>
                {% endif %}
                <svg width="2rem" height="2rem" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M17 13.5v6H5v-12h6m3-3h6v6m0-6-9 9"
                    class="icon_svg-stroke"
                    stroke="#999"
                    stroke-width="1.5"
                    fill="none"
                    fill-rule="evenodd"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              {% else %}
                {% if translated_item %}
                  <a class="news-title" href="{{ item.redirect | relative_url }}">{{ translated_item.title }}</a>
                {% else %}
                  <a class="news-title" href="{{ item.redirect | relative_url }}">{{ item.title | t }}</a>
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>{{ 'No posts so far...' | t }}</p>
  {% endif %}
</div>
